<ion-toolbar class="android-attr">
    <ion-title>
        Description
    </ion-title>
    <ion-buttons start>
        <button (click)="dismiss()">
            <span primary showWhen="ios">Cancel</span>
            <ion-icon name='close' showWhen="android"></ion-icon>
        </button>
    </ion-buttons>
    
</ion-toolbar>


<ion-content padding class="has-header">

    <ion-list>
        <form novalidate #form="ngForm" (ngSubmit)="onSubmitGroupInfo(form)">

        <ion-item [ngClass]="{'has-error':name.touched&&!(name.valid)}">
            <ion-label floating >Group Name </ion-label>
            <ion-input type="text" [(ngModel)]="group.name" required 
                ngControl="name" #name="ngForm"></ion-input>
        </ion-item>

        <ion-list-header [hidden]="group._id">
            Members
        </ion-list-header>

        <ion-item [hidden]="group._id">
            <button fill primary full type="button" (click)="promptForName()">
                Add new Member
            </button>
        </ion-item>
        <ion-item *ngFor="#member of group.users, #i = index" [hidden]="group._id">
            <ion-avatar item-left>
                <img src="img/default.png">
            </ion-avatar>
            <h2>{{member.displayName}}</h2>
            <p *ngIf="member.invisible">anonymous user</p>
            <p *ngIf="!member.invisible">{{member.email}}</p>
            <button outline item-right
            [hidden]="member._id==user._id"
            (click)="removeMember(member,i)">
                Remove
            </button>
        </ion-item>

        <button secondary round full type="submit">Save</button>


        </form>
    </ion-list>

</ion-content>