<ion-toolbar class="android-attr" dark>
    <ion-title>
        Description
    </ion-title>
    <ion-buttons start>
        <button (click)="dismiss()">
            <span primary showWhen="ios">Cancel</span>
            <ion-icon name='close' showWhen="android"></ion-icon>
        </button>
    </ion-buttons>
    
</ion-toolbar>


<ion-content padding class="has-header">

    <ion-list>
        <form novalidate #form="ngForm" (ngSubmit)="onSubmitGroupInfo(form)">

        <ion-item [ngClass]="{'has-error':name.touched&&!(name.valid)}">
            <ion-label floating >Group Name </ion-label>
            <ion-input type="text" [(ngModel)]="group.name" required 
                ngControl="name" #name="ngForm"></ion-input>
        </ion-item>

        <ion-list-header [hidden]="group._id">
            Members
        </ion-list-header>

        
            <button fill round [hidden]='group._id' style='float:right;' ptgreen item-right type="button" (click)="promptForName()">
                <ion-icon name='add'></ion-icon>Member
            </button>
        
        <ion-item *ngFor="#member of group.users, #i = index" [hidden]="group._id">
            <ion-avatar item-left>
                <img src="img/default.png">
            </ion-avatar>
            <h2>{{member.displayName}}</h2>
            <p *ngIf="member.invisible">anonymous user</p>
            <p *ngIf="!member.invisible">{{member.email}}</p>
            <button clear round danger item-right 
            [hidden]="member._id==user._id" large
            (click)="removeMember(member,i)">
                <ion-icon name='close-circle'></ion-icon>
            </button>
        </ion-item>

        <button ptred large round full type="submit" class="bottom-submit">Save</button>


        </form>
    </ion-list>

</ion-content>


<!--<button fab ptred fab-top fab-right style="z-index: 999;top:11em" (click)="promptForName()">
    <ion-icon name='people' is-active="true"></ion-icon>
</button>-->