ion-nav {
    background-image: url('../../img/bg-1.png')!important;
    background-size: 100% !important;
    // background: 
}
ion-content {
    // background: transparent;
    background-image: url('../../img/bg-1.png');
    background-size: 100%;
}
ion-item {
    background: none !important;
    color: white !important;
}

ion-list > .item:first-child, ion-list > ion-item-sliding:first-child .item{
    border-top: none;
}
.toolbar[dark] .toolbar-background{
    background: transparent;
    border-color: #67609C;
}
.toolbar-background {
    opacity: 0.1;
    border-color: #67609C !important;
}

ion-item.logo ion-label{
    text-align: center;
}

ion-item.logo ion-label img{
    max-width: 60%;
    border-radius: 10%;
}

ion-item.logo .item-inner {
    border-top: none;
    border-bottom: none;
    margin-bottom: 20px;
}

button.bottom-submit {
    margin-top: 40px !important;
}

scroll-content {
    border-top-color: transparent !important;
}

[item-right] input{
    text-align: right;
}