<ion-navbar *navbar>
    <button menuToggle *ngIf="!group">
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{group.name}}</ion-title>
    
    
    <ion-buttons end>
        <button (click)="removeGroup()">
            <span primary showWhen="ios">Delete</span>
            <ion-icon name="trash"  showWhen="android"></ion-icon>
        </button>
    </ion-buttons>
    
</ion-navbar>

<ion-content>

    <ion-card>
        <ion-card-header>
            {{group.name}}
        </ion-card-header>
        <ion-card-content>
            <div class="desc" *ngIf="group.userOwned==0"> You do not owe anything </div>
            <div class="desc" *ngIf="group.userOwned<0"> You are owed <strong class="">{{-group.userOwned | currency:'USD':true:'2.2-2'}}</strong> </div>
            <div class="desc" *ngIf="group.userOwned>0"> You owe <strong class="">{{group.userOwned | currency:'USD':true:'2.2-2'}}</strong> </div>
        </ion-card-content>
        <ion-item>
            <ion-note item-left>
                <ion-icon name="people"></ion-icon>
                {{group.users.length}} Members
            </ion-note>
            <button primary clear item-right (click)="showGroupEditModal()">
                <ion-icon name="text"></ion-icon>
                <div>Edit</div>
            </button>
        </ion-item>
    </ion-card>

    <ion-list>
        <ion-list-header>
            Members
        </ion-list-header>
        <ion-item-sliding *ngFor="#user of group.users">
            <ion-item (click)="presentActionSheetOnUser($event,user)">
                <ion-avatar item-left>
                    <img src="img/default.png">
                </ion-avatar>
                <h2>{{user.displayName}} ({{user.totalPaid-user.totalSpent-user.totalReceived | currency:'USD':true:'2.2-2'}})</h2>
                <p>Spent: {{user.totalSpent | currency:'USD':true:'2.2-2'}}, Paid: {{user.totalPaid | currency:'USD':true:'2.2-2'}}</p>
            </ion-item>
            <ion-item-options>
                <button primary>
                    <ion-icon name="text"></ion-icon>
                    Text
                </button>
                <button secondary>
                    <ion-icon name="call"></ion-icon>
                    Call
                </button>
            </ion-item-options>
        </ion-item-sliding>


        <ion-list-header>
            Activities
        </ion-list-header>
        <ion-item *ngFor="#activity of group.activities" (click)="presentActionSheetOnActivity($event, activity)">
            <ion-icon name="{{activity.isPay?'cart':'pricetags'}}" item-left></ion-icon>
                {{activity.from.displayName}} paid for {{activity.name}}
            <ion-note  item-right>{{currency(activity.amount)}}</ion-note>
        </ion-item>

    </ion-list>

</ion-content>