<ion-toolbar class="android-attr">
    <ion-title>
        Pay Activity
    </ion-title>
    <ion-buttons start>
        <button (click)="dismiss()">
            <span primary showWhen="ios">Cancel</span>
            <ion-icon name='close' showWhen="android"></ion-icon>
        </button>
    </ion-buttons>

</ion-toolbar>


<ion-content padding class="has-header">

    <ion-list>
        <form novalidate #form="ngForm" (ngSubmit)="submitActivity(form)">
            <ion-item>
                <ion-label>For what</ion-label>
                <ion-input type="text" [(ngModel)]="activity.name" item-right required
                    ngControl="name" #name="ngForm"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>From</ion-label>
                <ion-select [(ngModel)]="activity.from">
                    <ion-option [value]="user" *ngFor="#user of group.users">{{user.displayName}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>To</ion-label>
                <ion-select [(ngModel)]="selectedIds" (change)="selectMembers()" multiple="true">
                    <ion-option [value]="user._id" *ngFor="#user of group.users">{{user.displayName}}</ion-option>
                </ion-select>
            </ion-item>
            
            <ion-item>
                <ion-label>Amount</ion-label>
                <ion-input type="number" [(ngModel)]="activity.amount" item-right (change)="updateToFinalValues()" required
                    ngControl="amount" #amount="ngForm"></ion-input>
            </ion-item>
<!--
            <ion-item>
                <ion-label floating>Amount</ion-label>
                <ion-input type="number" [(ngModel)]="activity.amount" item-right (change)="updateToFinalValues()"></ion-input>
            </ion-item>-->

            <ion-item>
                <ion-label>Share By</ion-label>
                <ion-select [(ngModel)]="activity.sharedByPercentage" (change)="updateToFinalValues()">
                    <ion-option [value]="true">Percentage</ion-option>
                    <ion-option [value]="false">Specific Amount</ion-option>
                </ion-select>
            </ion-item>

            <ion-item *ngFor="#item of activity.to, #i = index" [hidden]="!item.selected" >
                <ion-avatar item-left>
                    <img src="img/default.png">
                </ion-avatar>
                <h2>{{item.user.displayName}} shared {{item.selected}}</h2>
                <p>{{item.final | currency:'USD':true:'1.2-2'}}</p>
                <button dark clear item-right type="button" [hidden]="!activity.sharedByPercentage" (click)='promptForSharedValue(item)'>
                    {{item.percentage/100 | percent:'.2-2'}}
                </button>
                <button dark clear item-right type="button" [hidden]="activity.sharedByPercentage" (click)='promptForSharedValue(item)'>
                    {{item.amount | currency:'USD':true:'1.2-2'}}
                </button>
                <!--<ion-toggle item-right [(ngModel)]="item.selected"></ion-toggle>-->
            </ion-item>

            <ion-item>
                Remaining
                <ion-note item-right [hidden]="!activity.sharedByPercentage">
                    {{percentageRemaining/100 | percent:'.2-2'}}
                </ion-note>
                <ion-note item-right [hidden]="activity.sharedByPercentage">
                    {{amountRemaining | currency:'USD':true:'1.2-2'}}
                </ion-note>
            </ion-item>

            <button secondary round full type="submit">Save</button>


        </form>
    </ion-list>

</ion-content>