<ion-toolbar class="android-attr">
    <ion-title>
        Transfer Activity
    </ion-title>
    <ion-buttons start>
        <button (click)="dismiss()">
            <span primary showWhen="ios">Cancel</span>
            <ion-icon name='close' showWhen="android"></ion-icon>
        </button>
    </ion-buttons>

</ion-toolbar>


<ion-content padding class="has-header">

    <ion-list>
        <form novalidate #form="ngForm" (ngSubmit)="submitActivity(form)">
            <ion-item>
                <ion-label>For what</ion-label>
                <ion-input type="text" [(ngModel)]="activity.name" item-right required
                    ngControl="name" #name="ngForm"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>From</ion-label>
                <ion-select [(ngModel)]="activity.from">
                    <ion-option [value]="user" *ngFor="#user of group.users">{{user.displayName}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>To</ion-label>
                <ion-select [(ngModel)]="activity.to[0].user">
                    <ion-option [value]="user" *ngFor="#user of group.users">{{user.displayName}}</ion-option>
                </ion-select>
            </ion-item>
            
            <ion-item>
                <ion-label>Amount</ion-label>
                <ion-input type="number" [(ngModel)]="activity.amount" item-right required (change)="parseAmount()"
                    ngControl="amount" #amount="ngForm"></ion-input>
            </ion-item>

            <button secondary round full type="submit">Save</button>


        </form>
    </ion-list>

</ion-content>