<ion-navbar *navbar dark>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your Groups</ion-title>

    <!--<ion-buttons end>
        <button (click)="showGroupNewModal()">
            <ion-icon name="add-circle"></ion-icon>
        </button>
    </ion-buttons>-->
</ion-navbar>

<ion-content id="group-list">
    <ion-refresher (start)="doStart($event)" (refresh)="doRefresh($event)" (pulling)="doPulling($event)">
    </ion-refresher>

    <ion-item class='item-title'>
        <h2>Groups</h2>
        <p>{{groups.length}}</p>

    </ion-item>

    <ion-item class='item-group' *ngFor="#group of groups" (click)="chooseGroup($event, group)">
        <h2>{{group.name}}</h2>
        <p>{{group.users.length}} MEMBERS</p>
    </ion-item>

    <ion-card *ngFor="#group of groups" [hidden]='true'>
        <ion-card-header>
            {{group.name}}
        </ion-card-header>
        <ion-card-content>
            <div class="desc" *ngIf="group.userOwned==0"> You do not owe anything </div>
            <div class="desc" *ngIf="group.userOwned<0"> You are owed <strong class="">{{-group.userOwned | currency:'USD':true:'2.2-2'}}</strong> </div>
            <div class="desc" *ngIf="group.userOwned>0"> You owe <strong class="">{{group.userOwned | currency:'USD':true:'2.2-2'}}</strong> </div>
        </ion-card-content>
        <ion-item>
            <ion-note item-left>
                <ion-icon name="people"></ion-icon>
                {{group.users.length}} Members
            </ion-note>

            <button primary clear item-right (click)="chooseGroup($event, group)">
                <ion-icon name="text"></ion-icon>
                <div>View Detail</div>
            </button>
        </ion-item>
    </ion-card>

    <!--<ion-list>
        <button ion-item *ngFor="#item of items" (click)="itemTapped($event, item)">
            <ion-icon name="{{item.icon}}" item-left></ion-icon>
            {{item.title}}
            <div class="item-note" item-right>
                {{item.note}}
            </div>
        </button>
    </ion-list>
    <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
    </div>-->


</ion-content>

<button fab ptred fab-bottom fab-right style="z-index: 999" (click)="showGroupNewModal()">
    <ion-icon name='add' is-active="true"></ion-icon>
</button>