<div class="container centered" [ngClass]="{'busy': isBusy}" (click)="close()">
  <div tappable disable-activated class="backdrop" role="presentation"></div>
  <div class="alert-wrapper">
    <div class="alert-head">
      <h2 id="{{hdrId}}" class="alert-title" *ngIf="d.title" [innerHTML]="d.title"></h2>
      <h3 id="{{subHdrId}}" class="alert-sub-title" *ngIf="d.subTitle" [innerHTML]="d.subTitle"></h3>
    </div>
    <div id="{{msgId}}" class="alert-message" *ngIf="d.message" [innerHTML]="d.message"></div>
  </div>
</div>